<h1>いいね！されたリスト</h1>

<% @relationships.each do |users| %>
<!--< active_relationship.follower.each do |users| %>-->
<% User.where(id: users.follower_id).each do |user| %>
  <div class="likestyle">
  <% if user.image_names.present? %>
     <%= image_tag user.image_names[0], class: "show-image_names2" %>
  <% else %>
   <%= image_tag "/no-image.png", class: "show-image_names2" %>
  <% end %>
  
     <div class="like">
      <ul>
      <li>
       <h2><%= link_to(user.name, "/users/#{users.follower_id}") %></h2>
      </li>
      <li>
       <h2>  歳   <%= Prefecture.find_by(id: user.prefecture_id).name %></h2>
      </li>
     </ul>
    </div>
  </div>
<% end %>
<% end %>
