<br>
<br>
<div>
<div Class="top">
  <%= image_tag "koibito.jpg" , class: "top-image" %>
    <div class="image-top">
        <h1>最後の恋をしませんか？</h1>
        <h5>~あなたの再婚を応援します~</h5>
    </div>
</div>
  <div class="user-entry">
        <%= link_to "新規会員登録", new_user_registration_path, class: "btn btn-info btn-top" %>
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-danger btn-top" %>
        <!--<button class="btn btn-outline-info my-2 my-sm-0" type="submit">新規会員登録</button>-->
  </div>
<br>
  <div>
    <h2 Class="top-comment">『Felice』は再婚を応援するサイトです<br>
        人生は何度でもやり直せます。<br>
        もう一度勇気を出して踏み出してみませんか？<br>
    </h2>
  </div>
  </div>  
