// Place all the styles related to the footprints controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.footprint-index-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.footprint_created_at {
    display: inline-block;
    padding: 0 10px;
}